      
       
        
    .content {
        width: 50%; /* Установка ширины контента равной ширине изображения */
        
        position:absolute; top: 300px; left: 650px; 
        color: black;
        font-size: 18px;
    }
        
       

            
      
   
        
     
